html {
    min-height: 1000px;
}

body {
    background-image: url(../images/Sun-Shiny-Day.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h3 {
    font-family: 'Spectral SC', serif;
}

.container {
    min-height: 800px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    max-width: 600px;
    background: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
}

.quoteBox {
    max-width: 400px;
    font-family: 'Open Sans', sans-serif;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 3rem;
    padding: 1rem;
    border: 1px dashed black;
    border-radius: 10px;
}

#buttonNextQuote {
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 2rem;
    background-color: #377bb5;
    color: white;
}

